# **Data Inspection**

***Load Packages and CSV Files***

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load CSV files into DataFrames
reactions_df = pd.read_csv("Reactions.csv")
content_df = pd.read_csv("Content.csv")
reaction_types_df = pd.read_csv("ReactionTypes.csv")

***`Reactions` Dataset***

In [92]:
reactions_df.head(2)

,Unnamed: 0,Content ID,User ID,Reaction Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

***`Content` Dataset***

In [93]:
content_df.head(2)

,Unnamed: 0,Content ID,User ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

***`Reaction Types` Dataset***

In [94]:
reaction_types_df.head(2)

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70

<br>

# **Data Cleaning**

### **Rename Columns**

During the initial inspection, some discrepancies in column names were identified, so letâ€™s address that right away.

In [67]:
# Change column name from "Type" to "Reaction Type"
reactions_df = reactions_df.rename(columns={"Type": "Reaction Type"})
reactions_df.head(2)

,Unnamed: 0,Content ID,User ID,Reaction Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

In [68]:
# Change column name from "Type" to "Content Type"
content_df = content_df.rename(columns={"Type": "Content Type"})
content_df.head(2)

,Unnamed: 0,Content ID,User ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

In [69]:
# Change column name from "Type" to "Reaction Type"
reaction_types_df = reaction_types_df.rename(columns={"Type": "Reaction Type"})
reaction_types_df.head(2)

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70

<br>

### **Handle Missing Values**

***`Reactions` Dataset***

In [70]:
# Calculate missing data
reactions_df.isnull().sum()

Unnamed: 0          0
Content ID          0
User ID          3019
Reaction Type     980
Datetime            0
dtype: int64

***Actions:***

* Remove the entire `User ID` column as it has been deemed irrelevant for this analysis
* Remove all blank rows from the `Reaction Type` column

In [71]:
# Drop "User ID" column and assign to new dataframe
reactions_cleaned = reactions_df.drop(columns=['User ID'])

In [72]:
# Drop null values and confirm changes
reactions_cleaned.dropna(inplace=True)
reactions_cleaned.isnull().sum()

Unnamed: 0       0
Content ID       0
Reaction Type    0
Datetime         0
dtype: int64

<br>

***`Content` Dataset***

In [73]:
content_df.isnull().sum()

Unnamed: 0        0
Content ID        0
User ID           0
Content Type      0
Category          0
URL             199
dtype: int64

***Action:***

* Drop the `URL` column as it too is unecessary for our analysis

In [74]:
# Drop "URL" column, assign to new dataframe, and confirm changes
content_cleaned = content_df.drop(columns=['URL'])
content_cleaned.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Content Type    0
Category        0
dtype: int64

<br>

***`Reaction Types` Dataset***

In [75]:
reaction_types_df.isnull().sum()

Unnamed: 0       0
Reaction Type    0
Sentiment        0
Score            0
dtype: int64

In [76]:
# Assign to new dataframe for consistancy
reaction_types_cleaned = reaction_types_df

***No further action required***

<br>

### **Data Formatting**

***`Reactions` Dataset***

In [95]:
reactions_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     24573 non-null  int64
 1   Content ID     24573 non-null  object
 2   Reaction Type  24573 non-null  object
 3   Datetime       24573 non-null  object
dtypes: int64(1), object(3)
memory usage: 959.9+ KB

***Action***

* Convert `Datetime` column to datetime

In [102]:
# Convert to datetime, matching the actual format
reactions_cleaned['Datetime'] = pd.to_datetime(reactions_cleaned['Datetime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Convert to datetime without specifying format
reactions_cleaned['Datetime'] = pd.to_datetime(reactions_cleaned['Datetime'], errors='coerce')

# Confirm changes
reactions_cleaned.dtypes

Unnamed: 0                int64
Content ID               object
Reaction Type            object
Datetime         datetime64[ns]
dtype: object

In [103]:
reactions_cleaned.head(1)

,Unnamed: 0,Content ID,Reaction Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50

***Check for Inconsistencies***

In [77]:
reactions_cleaned['Reaction Type'].unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'love', 'indifferent', 'super love', 'intrigued',
       'worried', 'like', 'heart', 'want', 'adore'], dtype=object)

***No Action Required***

<br>

***`Content` Dataset***

In [104]:
content_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1000 non-null   int64
 1   Content ID    1000 non-null   object
 2   User ID       1000 non-null   object
 3   Content Type  1000 non-null   object
 4   Category      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

***Check for Inconsistencies***

In [78]:
content_cleaned['Content Type'].unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [79]:
content_cleaned['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

***Action***

* Some rows contain quotation marks, and some have capitalized letters. Remove the quotation marks and convert all text to lowercase

In [80]:
# Remove additional quotation marks from the 'Category' column
content_cleaned['Category'] = content_cleaned['Category'].str.replace('"', '', regex=False)

In [81]:
# Convert "Category" column to lowercase to standardize names
content_cleaned["Category"] = content_cleaned["Category"].str.lower()
content_cleaned['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

<br>

***`Reaction Types` Dataset***

In [105]:
reaction_types_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     16 non-null     int64
 1   Reaction Type  16 non-null     object
 2   Sentiment      16 non-null     object
 3   Score          16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

***Check for Inconsistencies***

In [82]:
reaction_types_cleaned['Reaction Type'].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [83]:
reaction_types_cleaned['Sentiment'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

***No Action Required***

<br>

### **Duplicates**

***`Reactions` Dataset***

In [84]:
print(f"Number of duplicate rows: {reactions_cleaned.duplicated().sum()}")

Number of duplicate rows: 0

***`Content` Dataset***

In [85]:
print(f"Number of duplicate rows: {content_cleaned.duplicated().sum()}")

Number of duplicate rows: 0

***`Reaction Types` Dataset***

In [86]:
print(f"Number of duplicate rows: {reaction_types_cleaned.duplicated().sum()}")

Number of duplicate rows: 0

<br>

# **Data Modelling**

***Merge Datasets***

In [87]:
# Join the tables
merged_df = reactions_cleaned.merge(content_cleaned, on="Content ID", how="inner")
merged_df = merged_df.merge(reaction_types_cleaned, on="Reaction Type", how="inner")
merged_df.head(2)

,Unnamed: 0_x,Content ID,Reaction Type,Datetime,Unnamed: 0_y,User ID,Content Type,Category,Unnamed: 0,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,2,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,0,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,11,negative,10

In [88]:
# Remove all 3 "Unnamed" columns
merged_df = merged_df.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y", "Unnamed: 0"])
merged_df.head(2)

,Content ID,Reaction Type,Datetime,User ID,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,10

<br>

***Aggregate Category Scores***

In [89]:
# Sum the "Scores" for each "Category"
category_score_sum = merged_df.groupby("Category")["Score"].sum().reset_index()
category_score_sum = category_score_sum.sort_values(by="Score", ascending=False).reset_index(drop=True)
category_score_sum

           Category  Score
0           animals  74965
1           science  71168
2    healthy eating  69339
3        technology  68738
4              food  66676
5           culture  66579
6            travel  64880
7           cooking  64756
8            soccer  57783
9         education  57436
10          fitness  55323
11         studying  54269
12             dogs  52511
13           tennis  50339
14         veganism  49619
15  public speaking  49264

***Rank Categories***

In [90]:
# Add a "Rank" column based on the "Score" in descending order
category_score_sum["Rank"] = category_score_sum["Score"].rank(ascending=False, method="dense").astype(int)

# Display the result
category_score_sum

           Category  Score  Rank
0           animals  74965     1
1           science  71168     2
2    healthy eating  69339     3
3        technology  68738     4
4              food  66676     5
5           culture  66579     6
6            travel  64880     7
7           cooking  64756     8
8            soccer  57783     9
9         education  57436    10
10          fitness  55323    11
11         studying  54269    12
12             dogs  52511    13
13           tennis  50339    14
14         veganism  49619    15
15  public speaking  49264    16

***Join the New Columns to the `Merged_df` and order by `Rank`***

In [91]:
# Rename the "Score" column to "Aggregate Score"
category_score_sum = category_score_sum.rename(columns={"Score": "Aggregate Score"})

# Merge the summed scores back into merged_df on the "Category" column
merged_df = merged_df.merge(category_score_sum, on="Category", how="left")

# Reorder the dataset based on the "Rank" column
merged_df = merged_df.sort_values(by="Rank").reset_index(drop=True)

# Display the updated DataFrame
merged_df.head(2)

,Content ID,Reaction Type,Datetime,User ID,Content Type,Category,Sentiment,Score,Aggregate Score,Rank
0,596a3ffe-1e2a-4999-bf8d-c8f4a8974343,want,2020-12-25 03:59:23,24789387-968b-425a-8836-14e243cda16c,video,animals,positive,70,74965,1
1,596a3ffe-1e2a-4999-bf8d-c8f4a8974343,want,2020-12-20 00:51:55,24789387-968b-425a-8836-14e243cda16c,video,animals,positive,70,74965,1

<br>

# **Top 5**

In [109]:
top_5_df = category_score_sum[category_score_sum["Rank"] <= 5]
top_5_df

         Category  Aggregate Score  Rank
0         animals            74965     1
1         science            71168     2
2  healthy eating            69339     3
3      technology            68738     4
4            food            66676     5

<br>

# **Download CSV File & Begin Tableau Analysis**

In [108]:
# Export 'ranked_df' to a CSV file
merged_df.to_csv("SocialBuzz_Ready.csv", index=True)